<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GIFSicleTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GIFSicleTool.Properties.Settings>
            <setting name="Setting_output_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_output_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_is_compress_defult" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_compress_defult_level" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Setting_is_compress_scale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_compress_scale" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Setting_is_compress_lossy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_compress_lossy" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Setting__is_compress_resize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_compress_resize_width" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_compress_resize_height" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_is_compress_color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_compress_color_level" serializeAs="String">
                <value>0</value>
            </setting>
        </GIFSicleTool.Properties.Settings>
    </userSettings>
</configuration>